/* #2196F3 accent color */
/* #212121; secondary text colot */
/* main white  #212121; */
/* main black  text color #757575; */
/* secondary bcg #F5F4FA */
/* main bgc #F5F5F5 */
/* bgc super white #fff */
/* hero bgc background: #2F303A; */


*{
    box-sizing: border-box;
}

html {
    
}
:root {
    --hero-bcg: #2F303A;
    --accent-color: #2196F3;
    --main-text: #757575;
    --white-text: #ffffff;
    --translucent-text: rgba(255, 255, 255, 0.6);
    --secondary-text:#212121;
    --bcg-white: #212121;
    --main-bcg:#FFF;
    --grey-bcg: #F5F4FA;
    --bcg-btn: #F5F4FA;

}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: o;
}

ul, ol {
    margin: 0;
    padding-left: 0;
}
button {
    cursor: pointer;
}


body {
    background-color: var(--main-bcg);
    color: var(--main-text);
    font-family: 'Roboto', sans-serif;
}

.link {
    text-decoration: none;
}

.list{
    list-style: none;
}



.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1..19;
    letter-spacing: 0.03em;
    color: var(--secondary-text);

}

.logo>span {
    color: var(--accent-color);
}

/* site nav */

.site-nav .link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text);

}

.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current{
    color: var(--accent-color);
}
.contacts .contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:#757575;
}

.contacts .contacts-link:hover,
.contacts .contacts-link:focus{
    color: var(--accent-color);

}

/* hero */
.hero {
    background-color: var(--hero-bcg);
}

.hero-title {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-text);
}

/* hero button */

.btn-hero {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-text);
    background-color: var(--accent-color);
}

/* .btn-hero.primary{
    color: var(--white-text);
    background-color: var(--accent-color);
}
.btn-hero.secondary{
    color: var(--secondary-text);
    background-color: var(--grey-bcg);
} */

.btn-hero:hover,
.btn-hero:focus {
    color: var(--secondary-text);
    background-color: var(--grey-bcg);
    transition: 0.7s;
}

/* portfolio button */
.btn {
    font-family:inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.88;
    border-radius: 4px;
    border: none;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--secondary-text);
    background-color: var(--bcg-btn);
}

.btn.primary{
    color: var(--secondary-text);
    background-color: var(--bcg-btn);
}

.btn.secondary {
    color: var(--secondary-text);
    background-color: var(--accent-color);
}

.btn:hover, .btn:focus{
    color: var(--white-text);
    background-color: var(--accent-color);
    transition: 0.7s;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.section-advantages .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-text);
}

.section-advantages .text{
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.team { 
background-color: var(--grey-bcg);
}


.portfolio .title,
.team .title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text);
}

.team-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text);
    
}


.team-position {
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    font-size: 16px;
}

.project-name {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--bcg-white);
    font-weight: 700;
}

.project-text {
    line-height: 1.88;
    letter-spacing: 0.03em;
    font-size: 16px;
}

/* footer */

.footer-bcg {
    background-color: #2F303A;
}
.address-google {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-text);
}

.footer-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:var(--white-text);
}

.footer-logo > span {
    color: var(--accent-color);
}
.address-google:hover,
.address-google:focus {
    color:var(--accent-color);
}

.address-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--translucent-text);
}

.address-link:hover,
.address-link:focus {
    color:var(--accent-color)
}

.address {
    font-style: normal;
}
